body {
	background-color: white;
	font-family: sans-serif;

}

h1 {
	text-align: center;
	color: black;
}

p{
	color: black;
	float: right;
}


canvas {
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	border: 10px solid;
	border-color: #262626;
	border-radius: 15px;

}

figure {
	border: 1px solid #ccc;
	line-height: 0;
	width: 1200px;
}

#buttonleft{
    float:left;
    position: relative;
		background-color: #008CBA;
		border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;


}

#buttonright{
		margin-top: -140px;
    float: right;
    position: relative;
		background-color: #008CBA;
		border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;



}

a {
    color: red;
}
