body {
	background-color: black;

}

h1 {
	text-align: center;
	color: white;
}


canvas {
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;

}

figure {
	border: 1px solid #ccc;
	line-height: 0;
	width: 1200px;
}

#buttonleft{
    float:left;
    position: absolute;
    
}

#buttonright{
    float: clear;
    position: absolute;

    
}
